html {
    scroll-behavior: smooth;
}

header {
    background: #0c0590;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    border: 1px solid #128fc1;
    padding: 10px 20px; 
    z-index: 1000; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

nav {
    height: calc(100vh - 80px); 
    width: 200px;
    background-color: #3f60a1;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    z-index: 999;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.1);
}

nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 20px;
    display: block;
    transition: background-color 0.3s;
    font-size: 16px; 
}

nav a:hover {
    background-color: rgb(0, 23, 97);
}

body {
    text-align: left; 
    background-color: aliceblue;
    margin: 0; 
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

main {
    width: 70%; 
    margin: 90px auto;
    text-align: left; 
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

footer {
    background: #0c0590;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #128fc1;
    color: #ffffff;
    font-size: 14px;
    line-height: 30px; 
}

.contenedor {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 400px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.imagen-centrada {
    height: auto; 
    border: 2px solid #000; 
    border-radius: 10px;
    size:0vmin;
}
